.form {
	&-group {
		width: 80%;
		margin: auto;
	}

	&__admin {
		height: 100vh;
		background-image: url("https://image.shutterstock.com/z/stock-vector-vector-cinema-tickets-isolated-on-transparent-background-realistic-cinema-entrance-ticket-1519410440.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;

		label {
			color: white;
		}
	}

	&__overflow {
		position: absolute;
		background-color: black;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.5;
	}
}
